---
const COLLABORATORS = [
  {
    id: "darkjake",
    name: "DarkJake",
    url: "https://ko-fi.com/darkjake",
    kofi: "https://ko-fi.com/darkjake",
    tiktok: "https://www.tiktok.com/@animadogi",
    youtube: "https://www.youtube.com/channel/UC9Q6Z1Q6",
  },
  {
    id: "blink",
    name: "Blink",
    twitter: "https://twitter.com/BlinkDev_",
  },
  {
    id: "arti",
    name: "Arti",
    twitch: "https://www.twitch.tv/arti_",
    twitter: "https://twitter.com/Arti_",
  },
  {
    id: "estepo",
    name: "Estepo",
    twitter: "https://twitter.com/Estepo_",
  },
  {
    id: "jins",
    name: "Jins",
    twitter: "https://twitter.com/Jins_",
  },
  {
    id: "joakob",
    name: "Joakob",
    instagram: "https://www.instagram.com/joaquinbobbio/",
    twitch: "https://www.twitch.tv/joakob_26",
    youtube: "https://www.youtube.com/@joakob_2693/featured",
  },
  {
    id: "mario",
    name: "Mario Destroyer",
    url: "https://ko-fi.com/mario",
    tiktok: "https://www.tiktok.com/@mario_destroyeryt",
    twitch: "https://www.twitch.tv/mario_destroyer",
    twitter: "https://twitter.com/Mari0_Destroyer",
    youtube: "https://www.youtube.com/@MarioDestroyerYT",
  },
  {
    id: "opalina",
    name: "Opalina",
    instagram: "https://www.instagram.com/opalina_",
  },
  {
    id: "pripara",
    name: "Pripara",
    youtube: "https://www.youtube.com/@priparaworld8503/",
  },
  {
    id: "sanai",
    name: "Sanairobech",
    instagram: "https://www.instagram.com/jona_riosu/",
    twitch: "https://www.twitch.tv/sanairobech",
    twitter: "https://twitter.com/Sanai_",
    youtube: "https://www.youtube.com/@sanairobech/",
  },
];
---

<section class="my-40">
  <h3 class="font-atomic text-5xl text-primary text-center">Colaboradores</h3>
  <p class="mt-4 text-center text-xl text-primary">
    Esta página es posible gracias a la colaboración de ...
  </p>

  <div class="mt-12 grid grid-cols-2 gap-8 md:grid-cols-3">
    {
      COLLABORATORS.map(({ id, name, url, twitter, youtube, twitch, kofi, instagram, tiktok }) => (
        <div class="group flex items-center justify-center w-full h-full">
          <div class="relative w-full h-full">
            <div class="absolute inset-0 bg-gradient-to-b from-[var(--color-primary)] via-transparent to-transparent rounded-lg opacity-10 group-hover:opacity-30 transition-opacity duration-300"></div>
            <div class="relative z-10 bg-gradient-to-b from-transparent via-transparent to-transparent rounded-lg p-2 flex items-stretch w-full h-full">
              <img
                loading="lazy"
                src={`/excelmains-web/img/${id}.svg`}
                alt={`Colaborador ${name}`}
                class="w-20 h-20 mr-4 rounded-full object-cover"
              />
              <div class="flex flex-col justify-center flex-grow">
                <p class="text-lg font-semibold text-primary text-center mb-2">{name}</p>
                <div class="flex justify-center space-x-2">
                  {twitter && (
                    <a href={twitter} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/twitter.svg"
                        alt="Twitter"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                  {youtube && (
                    <a href={youtube} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/youtube.svg"
                        alt="YouTube"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                  {twitch && (
                    <a href={twitch} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/twitch.svg"
                        alt="Twitch"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                  {kofi && (
                    <a href={kofi} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/kofi.svg"
                        alt="Ko-fi"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                  {instagram && (
                    <a href={instagram} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/instagram.svg"
                        alt="Instagram"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                  {tiktok && (
                    <a href={tiktok} target="_blank" rel="noopener noreferrer">
                      <img
                        src="./social_icons/tiktok.svg"
                        alt="TikTok"
                        class="w-8 h-8 hover:scale-125"
                      />
                    </a>
                  )}
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>